@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --white-color: rgba(255, 255, 255, 0.986);
  --blue-color: #1783db;
  --grey-color: #fcfcfc;
  --white-color-light: #1783db;
  --grey-color-light: #aaa;
  --blue-color-light:#1783db;
}

body {
  transition: all 0.5s ease;
  background-image: url('/images/imagen009.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}


body.dark {
  background-color: #333;
}


body.dark {
  --white-color: rgb(105, 104, 104);
  --blue-color: #fff;
  --grey-color: #f2f2f2;
  --grey-color-light: #aaa;
  --blue-color-light:rgb(105, 104, 104);
  --white-color-light: #f2f2f2;
}

.bx-menu{
  color: #04346C;
}
/* navbar */
.navbar {
  position: fixed;
  top: 0%;
  width: 100%;
  height: 72px;
  left: 0;
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  z-index: 1000;
  box-shadow: 0 0 2px var(--grey-color-light);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
}

.logo_item {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-size: 14px;
  font-weight: 500;
  color: var(--blue-color);
}

.navbar img {
  width: 55px;
  height: 55px;
  object-fit: cover;
  border-radius: 50%;
}

.search_bar {
  height: 47px;
  max-width: 400px;
  width: 100%;
}

.search_bar input {
  height: 80%;
  width: 80%;
  border-radius: 25px;
  font-size: 18px;
  outline: none;
  background-color: var(--white-color);
  color: var(--grey-color);
  border: 1px solid var(--grey-color-light);
  padding: 0 20px;
}

.navbar_content {
  display: flex;
  align-items: center;
  column-gap: 25px;
}

.navbar_content i {
  cursor: pointer;
  font-size: 16px;
  color: var(--white-color-light);
}

/* sidebar */
.sidebar {
  background-color: var(--blue-color-light);
  width: 260px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  padding: 80px 20px;
  z-index: 100;
  overflow-y: scroll;
  box-shadow: 0 0 1px var(--grey-color-light);
  transition: all 0.5s ease;
  box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.09);

}
.sidebar.close {
  padding: 60px 0;
  width: 80px;
}
.sidebar::-webkit-scrollbar {
  display: none;
}
.menu_content {
  position: relative;
}
.menu_content a{
text-decoration: none;
color: #f2f2f2;
padding: 20px;
position: relative;

}
.menu_title {
  margin: 15px 0;
  padding: 0 20px;
  font-size: 16px;
  font-weight: 300;
}
.sidebar.close .menu_title {
  padding: 6px 30px;
}
.menu_title::before {
  color: var(--grey-color);
  white-space: nowrap;
}
.menu_dahsboard::before {
  content: "Inicio";
  cursor: pointer;
}
.menu_asistencial::before {
  content: "Area Asistencial";
}
.menu_administrativa::before {
  content: "Area Admisnistrativa";
}
.menu_setting::before {
  content: "Configuracion";
}
.sidebar.close .menu_title::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 18px;
  border-radius: 12px;
  background: var(--grey-color-light);
}
.menu_items {
  padding: 0;
  list-style: none;
}
.nav_link{
  font-size: 14px;
  font-weight: 200;
}
.navlink_icon {
  position: relative;
  font-size: 18px;
  min-width: 50px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 6px;
}

.navlink_icon::before {
  content: "";
  position: absolute;
  height: 100%;
  width: calc(100% + 100px);
  left: -20px;
}
.navlink_icon:hover {
  background: var(--blue-color);
}
.sidebar .nav_link {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 4px 15px;
  border-radius: 8px;
  text-decoration: none;
  color: var(--grey-color);
  white-space: nowrap;
}
.sidebar.close .navlink {
  display: none;
}
.nav_link:hover {
  color: var(--white-color);
  background: var(--blue-color);
}
.sidebar.close .nav_link:hover {
  background: var(--white-color);
}
.submenu_item {
  cursor: pointer;
}
.submenu {
  display: none;
}
.submenu_item .arrow-left {
  position: absolute;
  right: 10px;
  display: inline-block;
  margin-right: auto;
}
.sidebar.close .submenu {
  display: none;
}
.show_submenu ~ .submenu {
  display: block;
}
.show_submenu .arrow-left {
  transform: rotate(90deg);
}
.submenu .sublink {
  padding: 15px 15px 15px 52px;
}
.bottom_content {
  position: fixed;
  bottom: 60px;
  left: 0;
  width: 260px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.bottom {
  position: absolute;
  display: flex;
  align-items: center;
  left: 0;
  justify-content: space-around;
  padding: 18px 0;
  text-align: center;
  width: 100%;
  color: var(--grey-color);
  border-top: 1px solid var(--grey-color-light);
  background-color: var(--blue-color-light);
}
.bottom i {
  font-size: 18px;
}
.bottom span {
  font-size: 16px;
  font-weight: 300;
}
.sidebar.close .bottom_content {
  width: 50px;
  left: 15px;
}
.sidebar.close .bottom span {
  display: none;
}
.sidebar.hoverable .collapse_sidebar {
  display: none;
}
#sidebarOpen {
  display: none;
}
@media screen and (max-width: 768px) {
  #sidebarOpen {
    font-size: 25px;
    display: block;
    margin-right: 10px;
    cursor: pointer;
    color: var(--grey-color);
  }
  .sidebar.close {
    left: -100%;
  }
  .search_bar {
    display: none;
  }
  .sidebar.close .bottom_content {
    left: -100%;
  }

.main_contenedor h2{
font-size: 30px;
font-weight: 400;
padding: 10px 20px;

}

.content_main h2{
  font-size: 80px;
  font-weight: 400;
  padding: 100px 120px;
  top: 80px;
  position: fixed;
}

  
  .button {
    background-color: #04346C;
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    font-weight: 400;
    padding: 10px 20px;
    border-radius: 10px;
  }
  .button:hover {
    background-color: #ffaa00;
  }
  
  .button{
    margin : -380px;
    margin-left: 420px;
    align-items: center;
  }
  
  
}
main{
  width: 70%;
  height: 100%;
  position: fixed;
  margin-left: 260px;
  margin-top: 130px;
  justify-content: center;
}
main h1{
  font-weight: 400;
  font-size: 40px;
  margin-top: 4%;
  color:#04346C;
  text-align:center;
}

main p{
  font-weight: 300;
  font-size: 16px;
  margin-top: 5%;
  color:#04346C;
  text-align:center;
}

.button-container{
  width: 70%;
  height: 50px;
  justify-content: center;
  margin-left: 250px;
  margin-top: 60px;
}
.button-container a{
  position: relative;
  font-weight: 300;
  margin-top: 50px;
  padding: 16px 35px;
  color: #ffffff;
  background-color: #04346C;
  border-radius: 20px;
  margin-left: 40px;
  text-decoration: none;
}
.button-container a:hover{
  background-color: #ffaa00;
}

